${jsonencode({
    "version" = 0.0
    "Resources" = [{
      (name) = {
        "Type" = "AWS::Lambda::Function"
        "Properties" = {
          Name           = name
          Alias          = alias
          CurrentVersion = current_version
          TargetVersion  = target_version
        }
      }
    }]
    "Hooks" = []
  })}
